.nav-footer{
    display: inline-block;
}

.nav-footer img{
    margin-top: 60px;
    margin-bottom: 20px;
}

.aside-footer p{
    margin-bottom: 9px;
}

.nav-footer ul{
    display: inline-block;
    width: 231px;
    height: 81px;
}

.aside-footer a{
    color: #757575;
    text-decoration: none;
}

.aside-footer a:hover{
    color:#2196F3;
}

.mailto-footer{
    margin-bottom: 9px;
}
.tel-footer a{
    display: inline-block;
}